<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/index.css">

  <script type="module" src="/js/services/List.js" defer></script>
  <script type="module" src="/js/eventHandlers/ListHandler.js" defer></script>
  <script type="module" src="/js/utils/Http.js" defer></script>
  <script type="module" src="/js/index.js" defer></script>

  <title>Trello</title>
</head>
<body>
  <article class="list-form"></article>
</body>
</html>