@import "./default.css";
@import "./variable.css";

.hidden {
  display: none;
}

body {
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/10/15/15/19/digital-1742687_1280.jpg");
}

.list-form {
  display: flex;
  flex-direction: row;
  width: auto;
}

/* LIST_BOX */
div.list-box {
  display: flex;
  align-items: center;
  width: var(--list-wd);
  height: var(--list-hg);
  margin: var(--big-sz);
  padding-left: var(--small-sz);

  color: var(--list-right-cl);
  background-color: var(--list-gray-cl);
  border: 1px solid var(--list-right-cl);
}

div.list-box:hover {
  cursor: pointer;
  background-color: var(--list-gray-hover-cl);
}

div.active-list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--new-list-wd);
  height:100%;
  margin: var(--big-sz);
  padding: var(--small-sz);

  color: var(--list-right-cl);
  background-color: var(--list-right-cl);
}

div.saved-list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--new-list-wd);
  height:100%;
  margin: var(--big-sz) 0;
  margin-left: var(--big-sz);
  padding: var(--mid-sz);

  color: var(--list-right-cl);
  background-color: var(--list-gray-cl);
  border: 1px solid var(--list-right-cl);
}

/* LIST_INPUT */
div .list-input {
  height: var(--new-list-hg);
  padding-left: var(--small-sz);

  border: 0;
  border-radius: 4px;
}

div .list-title {
  font-weight: 600;
  font-size: var(--big-sz);
  margin-bottom: var(--mid-sz);
}

/* LIST_BUTTON */
div .btn-form {
  display: flex;
  flex-direction: row;
}

div .btn {
  margin-top: var(--small-sz);
  margin-right: var(--mid-sz);
  height: var(--btn-hg);
}

div .btn:hover {
  cursor: pointer;
}

div .creation-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cret-btn-wd);
  padding-top: var(--smallest-sz);
  background-color: var(--cret-btn-bg-cl);
}

div .cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--smallest-sz);
  color: var(--btn-text-cl);
}

div .add-card-btn {
  margin: var(--mid-sz) 0 0 var(--small-sz);
  color: var(--btn-text-cl);
}

div .add-card-btn:hover {
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid var(--btn-text-cl);
}

/* CARD_BOX */
div .saved-card-box {
  height:100%;
  margin-bottom: var(--small-sz);
  padding: var(--mid-sz);

  color: var(--list-right-cl);
  border: 1px solid var(--list-right-cl);
}

div .saved-card-box:hover {
  cursor: pointer;
}

/* CARD_CONTENT_BOX */
div .content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* CARD_CONTENT_ICON */
div .icon:hover {
  transform: scale(1.1);
}

div .content-box .icon {
  display: none;
  font-size: var(--mid-sz);
}

div .saved-card-box:hover .content-box .icon {
  cursor: pointer;
  display: block;
}

/* CARD_BUTTON */
div .add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cret-btn-wd);
  padding-top: var(--smallest-sz);
  background-color: var(--cret-btn-bg-cl);
}

/* Drag & Drop */
div .saved-card-box.dragging {
  opacity: .5;
}