:root {
  /* SIZE */
  --big-sz: 18px;
  --mid-sz: 12px;
  --small-sz: 6px;
  --smallest-sz: 3px;

  /* LIST_BOX_SIZE */
  --list-wd: 200px;
  --list-hg: 30px;
  --new-list-wd: 220px;
  --new-list-hg: 40px;

  /* BUTTON_SIZE */
  --btn-hg: 20px;
  --cret-btn-wd: 60px;

  /* COLOR */

  /* LIST_BOX_COLOR */
  --list-right-cl: rgba(236, 236, 236, 0.829);
  --list-gray-cl: rgba(240, 248, 255, 0.404);
  --list-gray-hover-cl: rgba(240, 248, 255, 0.493);

  /* BUTTON_COLOR */
  --btn-text-cl: rgb(37, 37, 37);
  --cret-btn-bg-cl: rgba(38, 97, 38, 0.52);
}